{% extends "layout.html" %}
{% block page_title %}Welcome{% endblock %}
{% block body %}
<div class="container text-center mt-4">
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('views.binary_classification') }}" class="btn btn-lg btn-primary btn-block">
                Binary Classification
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('views.temp_classification') }}" class="btn btn-lg btn-secondary btn-block">
                Temp Classification
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('views.other_classification') }}" class="btn btn-lg btn-success btn-block">
                Other Classification
            </a>
        </div>
    </div>
</div>
{% endblock %}